/*start general properties for website*/
/***************************** Start Animations *****************************/
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
            transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
  }
  100% {
    -webkit-transform: rotate(360deg) scale3d(1, 1, 1);
            transform: rotate(360deg) scale3d(1, 1, 1);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
            transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
  }
  100% {
    -webkit-transform: rotate(360deg) scale3d(1, 1, 1);
            transform: rotate(360deg) scale3d(1, 1, 1);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*dropdown animation*/
@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
@keyframes dropdown-animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

/*rotation animation*/
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/*spinner loading page*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*start the wave animation*/
@-webkit-keyframes wave {
  0%,
  100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
@keyframes wave {
  0%,
  100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

@-webkit-keyframes niceAnimate {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes niceAnimate {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes translation {
  0% {
    -webkit-transform: translateZ(0%);
            transform: translateZ(0%);
  }
  100% {
    -webkit-transform: translateZ(10%);
            transform: translateZ(10%);
  }
}

@keyframes translation {
  0% {
    -webkit-transform: translateZ(0%);
            transform: translateZ(0%);
  }
  100% {
    -webkit-transform: translateZ(10%);
            transform: translateZ(10%);
  }
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  40% {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  60% {
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  80% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  40% {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  60% {
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  80% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes translateX {
  0%,
  100% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

@keyframes translateX {
  0%,
  100% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

@-webkit-keyframes translateY {
  0%,
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

@keyframes translateY {
  0%,
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

/*flipping*/
@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg) translate(-50%, -50%);
            transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0) translate(-50%, -50%);
            transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg) translate(-50%, -50%);
            transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0) translate(-50%, -50%);
            transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}

/*shadow animation*/
@-webkit-keyframes shadow {
  0% {
    -webkit-box-shadow: 0px 0px 35px -4px #00a4e6;
            box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    -webkit-box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
            box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}
@keyframes shadow {
  0% {
    -webkit-box-shadow: 0px 0px 35px -4px #00a4e6;
            box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    -webkit-box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
            box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}

/*start rotate*/
@-webkit-keyframes rotate {
  0% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
  25% {
    border-top-left-radius: 30%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 70%;
  }
  50% {
    border-top-left-radius: 20%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 30%;
  }
  75% {
    border-top-left-radius: 70%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 50%;
  }
  100% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
}
@keyframes rotate {
  0% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
  25% {
    border-top-left-radius: 30%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 70%;
  }
  50% {
    border-top-left-radius: 20%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 30%;
  }
  75% {
    border-top-left-radius: 70%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 50%;
  }
  100% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@-webkit-keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}

@keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}

@-webkit-keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}

@keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}

@-webkit-keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

@font-face {
  font-family: "semiBold";
  src: url(../fonts/tajawal/Tajawal-Medium.ttf);
}

@font-face {
  font-family: "regular";
  src: url(../fonts/tajawal/Tajawal-Regular.ttf);
}

@font-face {
  font-family: "bold";
  src: url(../fonts/tajawal/Tajawal-Bold.ttf);
}

* {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*::-moz-selection {
  background-color: #05f;
  color: #fff;
}

*::selection {
  background-color: #05f;
  color: #fff;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
  outline-width: 0px !important;
  outline-color: transparent !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3 {
  font-family: "bold";
}

h4,
h5,
h6 {
  font-family: "semiBold";
}

p,
span {
  font-family: 'regular';
}

.overflowNone {
  overflow: hidden;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 4px;
  background-color: rgba(0, 85, 255, 0.5);
  border-radius: 10px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #0055ff !important;
}

.button-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 1px solid #05f;
  border-radius: 8px;
  position: relative;
  z-index: 99;
  overflow: hidden;
}

.custom-btn::after, .custom-btn::before {
  content: '';
  position: absolute;
  width: 55%;
  height: 100%;
  background-color: #05f;
  top: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  z-index: -1;
}

.custom-btn::after {
  left: -100%;
}

.custom-btn::before {
  right: -100%;
}

.custom-btn i {
  color: #05f;
  font-size: 20px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.custom-btn span {
  margin-right: 10px;
  color: #05f;
  font-size: 15px;
  font-family: 'bold';
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.custom-btn:hover i, .custom-btn:hover span {
  color: #fff;
}

.custom-btn:hover::after {
  left: 0%;
}

.custom-btn:hover::before {
  right: 0%;
}

.heading {
  width: 100%;
  margin-bottom: 50px;
}

.heading h4 {
  color: #05f;
  font-size: 20px;
  font-family: 'bold';
  position: relative;
}

.heading h4::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #05f;
  border-radius: 10px;
  bottom: -20px;
  right: 0%;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media a {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 10px;
  margin: 0px 0px 0px 15px;
  border: 1px solid #05f;
  position: relative;
  z-index: 99;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.social-media a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #05f;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.social-media a i {
  font-size: 20px;
  color: #05f;
}

.social-media a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.social-media a:hover i {
  color: #fff;
}

/*end general properties for website*/
.navbar {
  width: 100%;
  padding: 0px 0px 10px 0px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px #05f;
          box-shadow: 0px 0px 10px #05f;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.navbar .top-nav {
  width: 100%;
  padding: 10px 0px;
  background-color: #05f;
  text-align: center;
}

.navbar .top-nav a {
  color: #fff;
}

.navbar .top-nav a i {
  margin: 0px 0px 0px 10px;
}

.navbar .nav-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.navbar .nav-content .hamburger {
  display: none;
}

.navbar .nav-content .hamburger .line {
  width: 30px;
  height: 3px;
  background-color: #05f;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar .nav-content .hamburger.active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar .nav-content .hamburger.active .line:nth-child(2) {
  width: 0px;
}

.navbar .nav-content .hamburger.active .line:nth-child(1),
.navbar .nav-content .hamburger.active .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.navbar .nav-content .hamburger.active .line:nth-child(1) {
  -webkit-transform: translateY(6.5px);
          transform: translateY(6.5px);
}

.navbar .nav-content .hamburger.active .line:nth-child(3) {
  -webkit-transform: translateY(-15px) rotate(90deg);
          transform: translateY(-15px) rotate(90deg);
}

.navbar .nav-content .brand-name img {
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

.navbar .nav-content .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar .nav-content .navbar-nav .nav-item {
  margin: 0px 20px;
}

.navbar .nav-content .navbar-nav .nav-item .nav-link {
  padding: 10px 0px;
  color: #000000;
  font-size: 15px;
  font-family: 'bold';
  position: relative;
  overflow: hidden;
}

.navbar .nav-content .navbar-nav .nav-item .nav-link::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #05f;
  border-radius: 10px;
  bottom: 0;
  right: -100%;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.navbar .nav-content .navbar-nav .nav-item .nav-link:hover, .navbar .nav-content .navbar-nav .nav-item .nav-link.active {
  color: #05f;
}

.navbar .nav-content .navbar-nav .nav-item .nav-link:hover::after, .navbar .nav-content .navbar-nav .nav-item .nav-link.active::after {
  right: 0;
}

.navbar .nav-content .langauage {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 1px solid #05f;
  border-radius: 10px;
  position: relative;
  z-index: 99;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.navbar .nav-content .langauage::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #05f;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.navbar .nav-content .langauage span {
  color: #05f;
  font-size: 15px;
  font-family: 'bold';
}

.navbar .nav-content .langauage:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.navbar .nav-content .langauage:hover span {
  color: #fff;
}

header {
  width: 100%;
  position: relative;
  z-index: 99;
}

header .content {
  width: 100%;
  padding: 0px 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .content h6 {
  color: #fff;
  font-size: 20px;
  font-family: 'bold';
  margin: 0px;
}

header .content h4 {
  color: #fff;
  font-family: 'bold';
  font-size: 25px;
  margin: 20px 0px;
}

header .content p {
  color: #f7f7f7;
  font-size: 15px;
  font-family: 'regular';
  margin: 0px;
  line-height: 2.5rem;
}

header .image-content {
  width: 600px;
  height: 600px;
  position: relative;
  left: -50% !important;
  top: 0%;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 0px 10px #131313;
          box-shadow: 0px 0px 10px #131313;
  z-index: 9999;
}

header .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .owl-carousel {
  position: relative;
  z-index: 999;
}

header .owl-carousel .item {
  width: 100%;
  padding: 200px 0px 0px 0px !important;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  z-index: 99;
}

header .owl-carousel .item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: -1;
}

header .owl-carousel .item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 500px;
  background: url("../images/curve_shape.png");
  bottom: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 99;
}

.sub-header {
  width: 100%;
  padding: 180px 0px 60px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 99;
}

.sub-header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: -1;
}

.sub-header .heading h4 {
  color: #fff;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.sub-header .heading h4::after {
  background-color: #fff;
}

.sub-header .breadcrumb-shape {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  list-style: none;
}

.sub-header .breadcrumb-shape li {
  padding: 0px 15px;
  position: relative;
}

.sub-header .breadcrumb-shape li::After {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
  left: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sub-header .breadcrumb-shape li::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  left: -5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sub-header .breadcrumb-shape li a {
  color: #fff;
  font-family: 'semibold';
  font-size: 18px;
}

.sub-header .breadcrumb-shape li span {
  color: #fff;
  font-family: 'semibold';
  font-size: 15px;
}

.sub-header .breadcrumb-shape li:last-child::after, .sub-header .breadcrumb-shape li:last-child::before {
  display: none;
}

.about {
  width: 100%;
  padding: 100px 0px 0px;
}

.about .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .content p {
  color: #808080;
  font-size: 15px;
  line-height: 2.5rem;
  text-align: justify;
}

.about .image-content {
  width: 100%;
  height: 450px;
  overflow: hidden;
  -webkit-animation: translateY 2s linear infinite;
          animation: translateY 2s linear infinite;
}

.about .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.services {
  width: 100%;
  padding: 200px 0px 100px 0px;
  position: relative;
  z-index: 99;
  background-color: #f7f7f7;
}

.services .heading h4 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.services::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 500px;
  background: url("../images/curve_shape_rotate.png");
  top: 0px !important;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.services::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 500px;
  background: url("../images/curve_shape.png");
  bottom: 0px !important;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.services .box {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.services .box .image-content {
  width: 100%;
  height: 200px;
}

.services .box .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services .box .content {
  width: 100%;
  padding: 20px 15px;
  text-align: center;
}

.services .box .content h4 {
  color: #05f;
  font-family: 'bold';
  font-size: 20px;
}

.services .box .content p {
  color: #808080;
  margin: 15px 0px;
  font-family: 'regular';
  line-height: 1.5rem;
  font-size: 15px;
}

.services .box .content .custom-btn {
  margin: auto;
}

.services .box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0px 0px 5px #05f;
          box-shadow: 0px 0px 5px #05f;
}

.projects {
  width: 100%;
  padding: 50px 0px;
  background-color: #f7f7f7;
}

.projects .heading h4 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.projects .owl-carousel .owl-stage {
  padding: 20px 0px;
}

.projects .box {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 10px;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.projects .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects .box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0px 0px 5px #05f;
          box-shadow: 0px 0px 5px #05f;
}

.all_services {
  width: 100%;
  padding: 50px 0px;
  background-color: #fff;
}

.all_services .heading h4 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.all_services .nav-link {
  background-color: rgba(0, 85, 255, 0.4);
  margin-bottom: 20px;
  color: #131313;
  font-family: 'semiBold';
  font-size: 15px;
  text-align: center;
}

.all_services .nav-link.acitve {
  background-color: #0055ff !important;
  color: #fff;
}

.all_services .box {
  width: 100%;
  overflow: hidden;
  height: 100%;
  border-radius: 10px;
  background-color: #f7f7f7;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.all_services .box .image-content {
  width: 100%;
  height: 200px;
}

.all_services .box .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.all_services .box .content {
  width: 100%;
  padding: 20px 15px;
  text-align: center;
}

.all_services .box .content h4 {
  color: #05f;
  font-family: 'bold';
  font-size: 20px;
}

.all_services .box .content p {
  color: #808080;
  margin: 15px 0px;
  font-family: 'regular';
  line-height: 1.5rem;
  font-size: 15px;
}

.all_services .box .content .custom-btn {
  margin: auto;
}

.all_services .box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0px 0px 5px #05f;
          box-shadow: 0px 0px 5px #05f;
}

/* Form Style */
.form-wrapper .form-group {
  position: relative;
  margin-bottom: 1.8rem;
}

.form-wrapper .form-group .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #41B0CA;
}

.form-wrapper .form-group .form-control::-webkit-input-placeholder {
  font-size: 13px;
  color: #999;
}

.form-wrapper .form-group .form-control:-ms-input-placeholder {
  font-size: 13px;
  color: #999;
}

.form-wrapper .form-group .form-control::-ms-input-placeholder {
  font-size: 13px;
  color: #999;
}

.form-wrapper .form-group .form-control::placeholder {
  font-size: 13px;
  color: #999;
}

.form-wrapper .form-group input, .form-wrapper .form-group select {
  height: 55px;
}

.form-wrapper .floating-label {
  font-size: 13px;
  color: #999;
  position: absolute;
  pointer-events: none;
  top: 18px;
  right: 12px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  background-color: #fff;
  padding: 0 5px;
}

.form-wrapper .label {
  pointer-events: none;
  font-size: 13px;
  padding: 0 5px;
  color: #999;
}

.form-wrapper textarea {
  resize: none;
}

.form-wrapper input:focus ~ .floating-label,
.form-wrapper input:not(:focus):valid ~ .floating-label {
  top: -9px;
  bottom: 0px;
  right: 10px;
  font-size: 12px;
  opacity: 1;
  color: #555;
  font-weight: 500;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.form-wrapper .submit-butn {
  background-color: #41B0CA;
  color: #fff;
  width: 180px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  padding: 0;
  border: 1px solid #41B0CA;
  margin: auto;
  font-size: 15px;
  display: block;
  font-weight: 500;
  margin: auto;
  position: relative;
}

.form-wrapper .submit-butn::after {
  content: '\f104';
  line-height: 50px;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20px;
  background-color: #05f;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 25px 0 0 25px;
}

.form-wrapper .submit-butn:hover {
  background-color: #05f;
  border: 1px solid #05f;
}

.form-wrapper .submit-butn:hover::after {
  background-color: #41B0CA;
}

.contact-pg {
  padding: 70px 0;
  overflow: hidden;
  background-color: #f7f7f7;
}

.contact-pg .heading {
  margin-bottom: 100px;
}

.contact-pg .heading h4 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.contact-pg .map-box::before {
  content: '';
  width: 200px;
  height: 200px;
  position: absolute;
  top: -20px;
  right: -5px;
  display: block;
  background-color: #05f;
  z-index: 1;
  -webkit-box-shadow: 5px 10px 50px #0e2c50;
          box-shadow: 5px 10px 50px #0e2c50;
}

.contact-pg .map-box iframe {
  position: relative;
  z-index: 2;
}

.contact-pg .contact-cards {
  background-color: #fff;
  margin-top: -100px;
  z-index: 3;
  position: relative;
  -webkit-box-shadow: 0 0 50px 0 #ddd;
          box-shadow: 0 0 50px 0 #ddd;
}

.contact-pg .contact-cards .item {
  padding: 40px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  height: 100%;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  background-color: #fff;
  width: 100%;
}

.contact-pg .contact-cards .item .icon {
  width: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: invert(50%) sepia(55%) saturate(6262%) hue-rotate(174deg) brightness(100%) contrast(103%);
          filter: invert(50%) sepia(55%) saturate(6262%) hue-rotate(174deg) brightness(100%) contrast(103%);
}

.contact-pg .contact-cards .item .text {
  padding: 0 15px;
}

.contact-pg .contact-cards .item .text p {
  margin-bottom: 0;
}

.contact-pg .contact-cards .item:hover, .contact-pg .contact-cards .item.active {
  background-color: #05f;
}

.contact-pg .contact-cards .item:hover .icon, .contact-pg .contact-cards .item.active .icon {
  -webkit-filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(287deg) brightness(203%) contrast(100%);
          filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(287deg) brightness(203%) contrast(100%);
}

.contact-pg .contact-cards .item:hover h6, .contact-pg .contact-cards .item.active h6 {
  color: #fff;
}

.contact-pg .contact-cards .item:hover p, .contact-pg .contact-cards .item.active p {
  color: #eee;
}

.contact-pg .submit-btn {
  width: 150px;
  height: 45px;
  background-color: #05f;
  border-radius: 5px;
  border: 1px solid #05f;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.contact-pg .submit-btn i {
  margin: 0px 10px;
}

.contact-pg .submit-btn:hover {
  background-color: #0097DB;
  border: 1px solid #0097DB;
}

footer {
  width: 100%;
  padding: 100px 0px 30px 0px;
  background-color: #fff;
}

footer .content .heading {
  margin-bottom: 76px;
}

footer .content img {
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

footer .content p {
  font-size: 15px;
  line-height: 2.5rem;
  color: #808080;
  font-family: 'regular';
  margin: 20px 0px;
}

footer .content ul li {
  margin-bottom: 19px;
}

footer .content ul li a {
  color: #808080;
  font-size: 20px;
  font-family: 'regular';
}

footer .content .list-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyrights {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10px 0px;
  background-color: #f7f7f7;
}

.copyrights p {
  margin: 0px;
  font-size: 15px;
  font-family: 'regular';
  color: #555;
}

/*start loader*/
.loader {
  width: 100%;
  height: 100vh;
  background-color: #05f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}

.loader .wrapper {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  -webkit-perspective: 800px;
          perspective: 800px;
}

.loader .wrapper .inner {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.loader .wrapper .inner.one {
  left: 0%;
  top: 0%;
  -webkit-animation: rotate-one 1s linear infinite;
          animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #fff;
}

.loader .wrapper .inner.two {
  right: 0%;
  top: 0%;
  -webkit-animation: rotate-two 1s linear infinite;
          animation: rotate-two 1s linear infinite;
  border-right: 3px solid #fff;
}

.loader .wrapper .inner.three {
  right: 0%;
  bottom: 0%;
  -webkit-animation: rotate-three 1s linear infinite;
          animation: rotate-three 1s linear infinite;
  border-top: 3px solid #fff;
}

.loader.hidden {
  -webkit-animation: loaderSlideDown 1s;
          animation: loaderSlideDown 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/***************************** Start Animations *****************************/
@-webkit-keyframes rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-webkit-keyframes loaderSlideDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    display: none;
  }
}

@keyframes loaderSlideDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    display: none;
  }
}

@-webkit-keyframes rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

/*scroll to top btn */
.scroll-top-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #0e2c50;
  color: #fff;
  text-align: center;
  line-height: 50px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 996;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.scroll-top-btn:hover {
  background: #0097DB;
  border-radius: 50%;
  color: #fff;
}

.scroll-top-btn i {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  position: relative;
  bottom: 4px;
}
/*# sourceMappingURL=style.css.map */